<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <script src="style.css"></script>

    </style>
</head>
<body>
    <div class="form">
    <p>Enter details</p>
    <form>
        <input type="text" name="First Name" placeholder="First Name">
        <input type="text" name="Second Name" placeholder="Second Name">
        <input type="text" name="Business" placeholder="Business">
        <input type="text" name="Region" placeholder="Region">
        <input type="text" name="E-Mail Address" placeholder="E-Mail Address">
        <input type="text" name="Phone Number" placeholder="Phone Number">
        <input type="text" name="Nationality" placeholder="Nationality">
        <input type="text" name="Date Of Birth" placeholder="Date Of Birth">
        
        <button>Enter</button>
        <a class="r" href="Landing page.html">Go Back to the homepage</a>
        
    </form>
</div>
</body>
</html>
</html>